<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo20230927.UserMapper">
    <insert id="insertUser">
        INSERT INTO user(username, password, name, gender, birthDate)
        VALUES(#{username}, #{password}, #{name}, #{gender}, #{birthDate})
    </insert>

    <select id="findUserByUsername" resultType="com.example.demo20230927.User">
        SELECT * FROM user WHERE username = #{username}
    </select>




</mapper>
