<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.backend.newchat.ChatMapper">

    <select id="getChatsBySessionId" resultType="com.example.backend.newchat.Chat">
        SELECT * FROM chat WHERE sessionid = #{sessionid}
    </select>

    <insert id="insertChat">
        INSERT INTO chat (uid, sessionid, date, question, answer)
        VALUES (#{uid}, #{sessionid}, #{date}, #{question}, #{answer})
    </insert>

</mapper>
